{%load static%}
<body class="hold-transition skin-blue sidebar-mini" style="height: auto; min-height:100%;">
<style>
  .main-sidebar{
  background-attachment:fixed;
  background-size:0 100%;
  }
</style>
<div class="wrapped boxed-wrapper" style="height: auto; min-height:100%;">
  <header class="main-header">
    <!-- Logo -->
    <a href="{%url 'profile'%}" class="logo blue-bg">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><img src="{{MEDIA_URL}}/logo/logo_mini.png" alt="" style="height:50px;width:50px"></span>
    <!-- logo for regular state and mobile devices -->
    <!--<span class="logo-lg"><img src="https://sun9-68.userapi.com/impg/iSkLqH8UJIa1ePW8z30Yip_TzlSmfqpHSmG13w/ll13fNmj8Tc.jpg?size=1010x416&quality=96&sign=0aabf30bc0683970ccc33103e2047a11&type=album" alt="" style="height:55px;width:200px"></span> </a>-->
    <span class="logo-lg"><img src="{{MEDIA_URL}}/logo/logo_back_free.png" alt="" style="height:60px;width:160px"></span> </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar blue-bg navbar-static-top">
      <!-- Sidebar toggle button-->
      <ul class="nav navbar-nav pull-left">
        <li><a class="sidebar-toggle" data-toggle="push-menu" href=""></a> </li>
      </ul>

    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <div class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
       <div class="image text-center">
         {%if request.user.avatar %}
              <img class="img-circle" src="{{user.avatar.url}}" alt="User profile picture">
              {%else%}
              <img class="img-circle" src="{{MEDIA_URL}}/ava_default.jpg" alt="User profile picture">
              {%endif%}

       </div>
        <div class="info">
          {%if user.is_authenticated%}
          <p>{{request.user.first_name}}</p>
          {%endif%}
          </div>
      </div>

      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li> <a href="{%url 'profile'%}"> <i class="fa fa-user-o"></i> <span>Профиль</span></a></li>
        <li class="treeview"> <a href="#"> <i class="fa fa-envelope-o "></i> <span>Заказы</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right">
          </i>
        </span>
        </a>
          <ul class="treeview-menu">
            <li>
              <a href="{%url 'orders'%}">Список заказов</a>
            </li>
            <li>
              <a href="{%url 'create_order'%}">Сделать заказ</a>
            </li>
          </ul>
        </li>
        <li> <a href="{%url 'news'%}"> <i class="fa fa-briefcase"></i> <span>Новости</span> </a></li>
        {%if request.user.job == 'Спортсмен'%}
        <li> <a href="{%url 'statistic'%}"> <i class="fa fa-calendar"></i> <span>Посещаемость</span> </a></li>
        {%elif request.user.job == 'Тренер'%}
        <li class="header">Администрирование</li>
        <li> <a href="{%url 'groups'%}"> <i class="fa fa-briefcase"></i> <span>Филиал</span> </a></li>
        <li> <a href="{%url 'sportsmen'%}"> <i class="fa fa-briefcase"></i> <span>Список спортсменов</span> </a></li>
        <li> <a href="{%url 'news'%}"> <i class="fa fa-briefcase"></i> <span>Посещаемость</span> </a></li>
        {%endif%}
        <li> <a href="{%url 'logout'%}"> <i class="fa fa-sign-out"></i> <span>Выйти</span> </a></li>
      </ul>
    </div>
    <!-- /.sidebar -->
  </aside>
<script type="text/javascript">
  $(document).ready(function(){
    var link = window.location.pathname;
    $('.sidebar-menu li a[href="'+link+'"]').parent().addClass('active');
  });
</script>