{%extends 'base.html'%}
{%block title%}
Добавление филиала
{%endblock%}
{%block content%}
    <div class="content">
        <div class="content-wrapper">
           <div class="row justify-content-center">
            <div class="col-sm-10">
                    <form method="post" enctype="multipart/form-data">
                        {%csrf_token%}
                        {{form.as_p}}
                        <input type="submit" class="btn btn-success" value="Опубликовать">
                    </form>
            </div>
           </div>
        </div>
    </div>
{%endblock%}