{%extends 'base.html'%}
{%block title%}
Заказы
{%endblock%}
{%block content%}
<div class="content-wrapper">
    <div class="content-header sty-one">
      <h1 class="text-black">Заказы</h1>
    </div>
<div class="content">
   <ul class="nav nav-tabs customtab2" role="tablist">
       <li class="nav-item ">
            <a class="nav-link"  role="tab" href="{%url 'orders_admin'%}">Все заказы</a>
       </li>
       <li class="nav-item ">
            <a class="nav-link"  role="tab" href="{%url 'orders_pay'%}">Ожидает оплаты</a>
       </li>
       <li class="nav-item ">
            <a class="nav-link"  role="tab" href="{%url 'orders_admin_way'%}">В пути</a>
       </li>
       <li class="nav-item ">
            <a class="nav-link"  role="tab" href="{%url 'orders_admin_del'%}">Доставлено</a>
       </li>
    </ul>
      <div class="info-box">
        <h4 class="text-black">Заказы</h4>
        <div class="table-responsive">

          <table class="table">
            <thead>
              <tr>
                  <th scope="col">Клиент</th>
                  <th scope="col">Наименование</th>
                  <th scope="col">Размер</th>
                  <th scope="col">Цвет</th>
                  <th scope="col">Статус</th>
                  <th scope="col">Дата</th>
              </tr>
            </thead>
            <tbody>
            <form method="POST">
            {% csrf_token %}
                {{ formset.management_form }}
            {%for form in formset%}


            <tr>

                <td>{{form.client}} {{form.id}}
                    {%for order in orders%}
                    {%if form.client.value == order.client.id%}
                    {%if forloop.first%}

                    {{order.client}}

                    {%endif%}
                    {%endif%}
                    {%endfor%}
                </td>
                <td>{{form.name.value}} {{form.name}}</td>
                <td>{{form.size.value}} {{form.size}}</td>
                <td>{{form.color.value}} {{form.color}}</td>
                <td>{{form.status}}</td>
                <td>
                    {%for order in orders%}
                    {%if form.client.value == order.client.id%}
                    {%if forloop.first%}

                    {{order.data}}
{%endif%}
                    {%endif%}
{%endfor%}

                    </td>


            </tr>
                {%endfor%}
                <td><input type="submit" class="btn btn-success" value="Сохранить"></td>
</form>

<!--            {%for order in orders%}-->
<!--              <tr>-->
<!--                <td>{{order.client}}</td>-->
<!--                <td>{{order.name}}</td>-->
<!--                <td>{{order.size}}</td>-->
<!--                <td>{{order.color}}</td>-->
<!--                <td>{{order.status}}</td>-->
<!--                  <td>{{order.data}}</td>-->

<!--              </tr>-->
<!--            {%endfor%}-->
            </tbody>
          </table>
        </div>
      </div>
</div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    var link = window.location.pathname;
    $('.customtab2 li a[href="'+link+'"]').addClass('active');
  });
</script>
    {%endblock%}
