{%extends 'base.html'%}
{%block title%}
Профиль
{%endblock%}
{%block content%}

 <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header sty-one">
      <h1 class="text-black">Профиль</h1>
    </div>
     <!-- Main content -->
     <div class="content">
      <div class="row">
        <div class="col-lg-4">
          <div class="user-profile-box m-b-3">
            <div class="box-profile text-dark">
              {%if user.avatar %}
              <img class="profile-user-img img-responsive img-circle m-b-2" src="{{user.avatar.url}}" alt="User profile pictures">
              {%else%}
              <img class="profile-user-img img-responsive img-circle m-b-2" src="{{MEDIA_URL}}/ava_default.jpg" alt="User profile picture">
              {%endif%}
              <h3 class="profile-username text-center">{{user.username}}</h3>
            </div>
          </div>
          <div class="info-box">
            <div class="box-body"> <strong><i class="fa fa-book margin-r-5"></i> Пояс</strong>
                {%if cert.belt%}
              <p class="text-muted"> {{cert.belt}} </p>
                {%else%}
              <p class="text-muted"> Не имеет </p>
                {%endif%}
              <hr>
              <strong><i class="fa fa-map-marker margin-r-5"></i> Филиал</strong>

              <p class="text-muted">{{user.filial}}</p>

              <hr>
              <strong><i class="fa fa-envelope margin-r-5"></i> Email</strong>
              <p class="text-muted">{{user.email}}</p>
              <hr>
              <strong><i class="fa fa-phone margin-r-5"></i> Телефон</strong>
              <p>{{user.phone}} </p>
              <hr>

            </div>
            <!-- /.box-body -->
          </div>
        </div>
        <div class="col-lg-8">
          <div class="info-box">
            <div class="card tab-style1">
              <!-- Nav tabs -->
              <ul class="nav nav-tabs profile-tab" role="tablist">
                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile" role="tab" aria-expanded="true">Профиль</a> </li>
                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#settings" role="tab">Настройки</a> </li>
                  <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#password" role="tab">Сменить пароль</a> </li>
              </ul>
              <!-- Tab panes -->
              <div class="tab-content">

                <!--second tab-->
                <div class="tab-pane" id="profile" role="tabpanel" aria-expanded="false">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-lg-3 col-xs-6 b-r"> <strong>ФИО спортсмена</strong> <br>
                        <p class="text-muted">{{user.first_name}} {{user.last_name}}</p>
                      </div>
                      <div class="col-lg-3 col-xs-6 b-r"> <strong>Телефон</strong> <br>
                        <p class="text-muted">{{user.phone}}</p>
                      </div>
                      <div class="col-lg-3 col-xs-6 b-r"> <strong>Email</strong> <br>
                        <p class="text-muted">{{user.email}}</p>
                      </div>
                    </div>
                    <hr>
                    <p></p>
                    <p></p>
                    <h3 class="font-medium m-t-3">Личные достижения</h3>
                      <p>
                        {{user.bio|linebreaks}}
                      </p>
                    <hr>

                  </div>
                  <div class="card-body">
                  <h3 class="m-t-3">Пояс</h3>
                  <hr>
                  <div>

                    {%if cert.belt == "1 дан"%}
                    <div class="progress-bar " role="progressbar" aria-valuenow="100" aria-valuemin="0"
                       aria-valuemax="100" style="width:100%; height:20px; background:gold;">
                       <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="50"
                       aria-valuemax="100" style="width:95%; height:20px; background:black;">
                         <p class="text-center font-weight-bold">I</p>
                        </div>
                    </div>
                      <hr>
                    {%elif cert.belt == "2 дан"%}
                    <div class="progress-bar " role="progressbar" aria-valuenow="100" aria-valuemin="0"
                       aria-valuemax="100" style="width:100%; height:20px; background:gold;">
                       <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="50"
                       aria-valuemax="100" style="width:95%; height:20px; background:black;">
                         <p class="text-center font-weight-bold">II</p>
                        </div>
                    </div>
                      <hr>
                    {%elif cert.belt == "3 дан"%}
                    <div class="progress-bar " role="progressbar" aria-valuenow="100" aria-valuemin="0"
                       aria-valuemax="100" style="width:100%; height:20px; background:gold;">
                       <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="50"
                       aria-valuemax="100" style="width:95%; height:20px; background:black;">
                         <p class="text-center font-weight-bold">III</p>
                        </div>
                    </div>
                      <hr>
                    {%elif cert.belt == "4 дан"%}
                    <div class="progress-bar " role="progressbar" aria-valuenow="100" aria-valuemin="0"
                       aria-valuemax="100" style="width:100%; height:20px; background:gold;">
                       <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="50"
                       aria-valuemax="100" style="width:95%; height:20px; background:black;">
                         <p class="text-center font-weight-bold">IV</p>
                        </div>
                        <hr>
                    </div>{%elif cert.belt == "5 дан"%}
                    <div class="progress-bar " role="progressbar" aria-valuenow="100" aria-valuemin="0"
                       aria-valuemax="100" style="width:100%; height:20px; background:gold;">
                       <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="50"
                       aria-valuemax="100" style="width:95%; height:20px; background:black;">
                         <p class="text-center font-weight-bold">V</p>
                        </div>
                        <hr>
                    </div>{%elif cert.belt == "6 дан"%}
                    <div class="progress-bar " role="progressbar" aria-valuenow="100" aria-valuemin="0"
                       aria-valuemax="100" style="width:100%; height:20px; background:gold;">
                       <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="50"
                       aria-valuemax="100" style="width:95%; height:20px; background:black;">
                         <p class="text-center font-weight-bold">VI</p>
                        </div>
                        <hr>
                    </div>{%elif cert.belt == "7 дан"%}
                    <div class="progress-bar " role="progressbar" aria-valuenow="100" aria-valuemin="0"
                       aria-valuemax="100" style="width:100%; height:20px; background:gold;">
                       <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="50"
                       aria-valuemax="100" style="width:95%; height:20px; background:black;">
                         <p class="text-center font-weight-bold">VII</p>
                        </div>
                        <hr>
                    </div>{%elif cert.belt == "8 дан"%}
                    <div class="progress-bar " role="progressbar" aria-valuenow="100" aria-valuemin="0"
                       aria-valuemax="100" style="width:100%; height:20px; background:gold;">
                       <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="50"
                       aria-valuemax="100" style="width:95%; height:20px; background:black;">
                         <p class="text-center font-weight-bold">VIII</p>
                        </div>
                        <hr>
                    </div>{%elif cert.belt == "9 дан"%}
                    <div class="progress-bar " role="progressbar" aria-valuenow="100" aria-valuemin="0"
                       aria-valuemax="100" style="width:100%; height:20px; background:gold;">
                       <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="50"
                       aria-valuemax="100" style="width:95%; height:20px; background:black;">
                         <p class="text-center font-weight-bold">IX</p>
                        </div>
                    </div>
                      <hr>
                    {%elif cert.belt == "10 гуп"%}
                    <div class="progress-bar " role="progressbar" aria-valuenow="100" aria-valuemin="0"
                       aria-valuemax="100" style="width:100%; height:20px; background:LightGray;">
                    </div>
                      <hr>
                      <p>
                          БЕЛЫЙ – отсутствие цвета или полное
                          соединение всех цветов. В первом случае,
                            это отсутствие знаний и чистота белой
                            бумаги, во втором – разбросанные,
                            несистематизированные хаотичные знания;
                            один из двух вариантов, с которого ученик
                            начинает свой путь.
                      </p>
                    {%elif cert.belt == "9 гуп"%}
                    <div class="progress-bar " role="progressbar" aria-valuenow="100" aria-valuemin="0"
                       aria-valuemax="100" style="width:100%; height:20px; background:gold;">
                       <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="50"
                       aria-valuemax="100" style="width:95%; height:20px; background:LightGray;">
                        </div>
                    </div>
                      <hr>
                      <p>
                          БЕЛЫЙ – отсутствие цвета или полное
                          соединение всех цветов. В первом случае,
                            это отсутствие знаний и чистота белой
                            бумаги, во втором – разбросанные,
                            несистематизированные хаотичные знания;
                            один из двух вариантов, с которого ученик
                            начинает свой путь.
                      </p>
                    {%elif cert.belt == "8 гуп"%}
                    <div class="progress-bar " role="progressbar" aria-valuenow="100" aria-valuemin="0"
                       aria-valuemax="100" style="width:100%; height:20px; background:Gold;">
                    </div>
                      <hr>
                      <p>
                          ЖЕЛТЫЙ – символ земли, основы,
                        выносливости.  Те знания, которые
                        воспитания в этом уровне, послужат
                        фундаментом всего остального пути.
                        Насколько они будут прочны, настолько
                        будет основательно и незыблемо все
                        строение знаний, учений и навыков.
                      </p>
                    {%elif cert.belt == "7 гуп"%}
                    <div class="progress-bar " role="progressbar" aria-valuenow="100" aria-valuemin="0"
                       aria-valuemax="100" style="width:100%; height:20px; background:green;">
                       <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="50"
                       aria-valuemax="100" style="width:95%; height:20px; background:gold;">
                        </div>
                    </div>
                      <hr>
                      <p>
                          ЖЕЛТЫЙ – символ земли, основы,
                        выносливости.  Те знания, которые
                        воспитания в этом уровне, послужат
                        фундаментом всего остального пути.
                        Насколько они будут прочны, настолько
                        будет основательно и незыблемо все
                        строение знаний, учений и навыков.
                      </p>
                    {%elif cert.belt == "6 гуп"%}
                    <div class="progress-bar " role="progressbar" aria-valuenow="100" aria-valuemin="0"
                       aria-valuemax="100" style="width:100%; height:20px; background:green;">
                    </div>
                      <hr>
                      <p>
                          ЗЕЛЕНЫЙ – символ весны, возрождения,
                            растительного мира, силы, выходящей  из
                            земли и устремляющейся в небеса.  Это-
                            символ стремительного роста.
                      </p>
                    {%elif cert.belt == "5 гуп"%}
                    <div class="progress-bar " role="progressbar" aria-valuenow="100" aria-valuemin="0"
                       aria-valuemax="100" style="width:100%; height:20px; background:darkblue;">
                       <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="50"
                       aria-valuemax="100" style="width:95%; height:20px; background:green;">
                        </div>
                    </div>
                      <hr>
                      <p>
                          ЗЕЛЕНЫЙ – символ весны, возрождения,
                            растительного мира, силы, выходящей  из
                            земли и устремляющейся в небеса.  Это-
                            символ стремительного роста.
                      </p>
                    {%elif cert.belt == "4 гуп"%}
                    <div class="progress-bar " role="progressbar" aria-valuenow="100" aria-valuemin="0"
                       aria-valuemax="100" style="width:100%; height:20px; background:darkblue;">
                    </div>
                      <hr>
                      <p>
                          СИНИЙ – символ небес, жизни, ловкости и
                            гибкости. На этом уровне знания ученика
                        достаточно высоки, ширины и всесторонни.
                      </p>
                    {%elif cert.belt == "3 гуп"%}
                    <div class="progress-bar " role="progressbar" aria-valuenow="100" aria-valuemin="0"
                       aria-valuemax="100" style="width:100%; height:20px; background:firebrick;">
                       <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="50"
                       aria-valuemax="100" style="width:95%; height:20px; background:darkblue;">
                        </div>
                    </div>
                      <p>
                          СИНИЙ – символ небес, жизни, ловкости и
                            гибкости. На этом уровне знания ученика
                        достаточно высоки, ширины и всесторонни.
                      </p>
                    {%elif cert.belt == "2 гуп"%}
                    <div class="progress-bar " role="progressbar" aria-valuenow="100" aria-valuemin="0"
                       aria-valuemax="100" style="width:100%; height:20px; background:firebrick;">
                    </div>
                      <hr>
                      <p>
                          КРАСНЫЙ – символ огня, солнца, быстроты,
                            тепла, воли, агрессии и разрушения. Яркий
                            цвет, напоминающий, что полученные
                            знания должны быть использованы для
                            творения и созидания, но неверное их
                            применение может привести к боли и
                            разрушению.  Поэтому, начиная с этого
                            пояса, воспитаннику предъявляются
                            повышенные требования.  Необходим
                            самоконтроль и проявление волевых
                          усилий.
                      </p>
                    {%elif cert.belt == "1 гуп"%}
                    <div class="progress-bar " role="progressbar" aria-valuenow="100" aria-valuemin="0"
                       aria-valuemax="100" style="width:100%; height:20px; background:black;">
                       <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="50"
                       aria-valuemax="100" style="width:95%; height:20px; background:firebrick;">
                        </div>
                    </div>
                      <hr>
                      <p>
                          КРАСНЫЙ – символ огня, солнца, быстроты,
                            тепла, воли, агрессии и разрушения. Яркий
                            цвет, напоминающий, что полученные
                            знания должны быть использованы для
                            творения и созидания, но неверное их
                            применение может привести к боли и
                            разрушению.  Поэтому, начиная с этого
                            пояса, воспитаннику предъявляются
                            повышенные требования.  Необходим
                            самоконтроль и проявление волевых
                          усилий.
                      </p>
                    {%endif%}

                  </div>
                  </div>
                </div>
                  <div class="tab-pane" id="settings" role="tabpanel">
                  <form method="post" enctype="multipart/form-data" id="edit_form">
                  {%csrf_token%}
                      <input type="hidden" name="form_type" value="edit_form">
                  {{form.as_p}}
                        <div class="col-sm-12">
                          <input type="submit" class="btn btn-primary">
                        </div>
                    </form>
                  </div>
                  <div class="tab-pane" id="password" role="tabpanel">
                  <form method="post" id="pass_form">
                  {%csrf_token%}
                      <input type="hidden" name="form_type" value="pass_form">
                      {%for field in password_form%}
                      <p>{{field.label}}</p>
                      <p>{{field}}</p>
                      {%endfor%}
                        <div class="col-sm-12">
                          <input type="submit" class="btn btn-primary">
                        </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Main row -->
    </div>
{%endblock%}