{%extends 'base.html'%}
{%block title%}
Список спортсменов
{%endblock%}
{%block content%}
<div class="content-wrapper">
    <div class="content-header sty-one">
      <h1 class="text-black">Спортсмены</h1>
    </div>
<div class="content">
   <ul class="nav nav-tabs customtab2" role="tablist">
     <li class="nav-item">
        <a class="nav-link "  role="tab" href="{%url 'sportsmen'%}">Новые пользователи</a>
      </li>
      {%for filial in filials%}
      <li class="nav-item">
        <a class="nav-link"  role="tab" href="{%url 'sportsmen_filial' filial.pk%}">{{filial}}</a>
      </li>
      {%endfor%}
    </ul>
      <div class="info-box">
        <h4 class="text-black">Спортсмены</h4>
        <div class="table-responsive">

          <table class="table">
            <thead>
              <tr>
                <th scope="col">ФИО</th>
                <th scope="col">Логин</th>
                <th scope="col">Филиал</th>
                <th scope="col">Группа</th>
              </tr>
            </thead>
            <tbody>
            {%for sportsmen in sportsmen%}
              <tr>
                <td>{{sportsmen.first_name}} {{sportsmen.mid_name}} {{sportsmen.last_name}}</td>
                <td>{{sportsmen.username}}</td>
                <td>{{sportsmen.filial}}</td>
                <td>{{sportsmen.group}}</td>

                <td><a href="{%url 'sportsmen_update' pk=sportsmen.id%}"> Изменить</a></td>
              </tr>
            {%endfor%}
            </tbody>
          </table>
        </div>
      </div>
</div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    var link = window.location.pathname;
    $('.customtab2 li a[href="'+link+'"]').addClass('active');
  });
</script>
    {%endblock%}