{%extends 'base.html'%}
{%block title%}
Посещаемость
{%endblock%}
{%block content%}
<div class="content-wrapper">

    <div class="content-header sty-one">
      <h1 class="text-black">Посещаемость</h1>
    </div>
<div class="content">
        <ul class="nav nav-tabs customtab2" role="tablist">
      {%for group in groups%}
      <li class="nav-item">
        <a class="nav-link" role="tab" href="{%url 'group_stat' group.pk%}">{{group}}</a></li>
      {%endfor%}
    </ul>
      <div class="info-box">
        <h4 class="text-black">Посещения</h4>

      </div>
</div>
</div>
    {%endblock%}